<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar is-success">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <strong>Aggggry</strong>
          </a>
        </div>
      </nav>
    <div class="columns is-multiline">
        {% for job in jobs %}
        <div class="column is-centered is-one-quarter">
            <h2 class="subtitle">{{job.title}}</h2>
            <p>{{job.job}}</p>
            <p>{{job.location}}</p>
            <p>{{job.price}}</p>
            <small>Posted at {{job.data_added}}</small>
            <br>
        </div>
        {% endfor %}
    </div>
</body>
</html>